
<div class="footer">
    <div class = btn>
        <a href="/create">Create a new post <i class="fa-regular fa-pen-to-square"></i></a>
    </div>
</div>
<script src="https://kit.fontawesome.com/ffbf87d143.js" crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</body>
</html>