<%- include("partials/header"); -%>

<div class="dash-card">
    <img class="logo" src="/imgs/logo.webp" alt="WebP Image" />
    <h2 class="messege light-text"> 
        Welcome to notABlog, the anonymous platform for expressing yourself freely.<br> 
        Share your thoughts, ideas, and stories without revealing your identity.<br> 
        Join our supportive community and explore meaningful discussions. Start writing now!
    </h2>
</div>

<%- include("partials/footer"); -%>