<%- include("partials/header"); -%>
<% if(messege) {%>
  <h2  class="server-messege"><%=messege%> </h2>
<% } else { -%>
    <h2  class="messege light-text">Loggin</h2>
<% } %>
<div class="form-container">
  <form action="/login" method="post">
    <input class="form-input" type="text" placeholder="username" name="username" required/>
    <input class="form-input" type="text" placeholder="password" name="password" required/>

    <button class="btn small" type="submit">Login</button>
    <p class="btn small">Don't have an <a class="link" href="/register">  account?</a></p>
  </form>
</div>

